@model IdeoTreeStructure.Domain.Entities.TreeNode
@{
    ViewBag.Title = "AddView";
}


@using (Html.BeginForm("AddNode", "Home", FormMethod.Post))
{
    <p>Content: @Html.TextBoxFor(x => x.Content)</p>
    <p>Parent: @Html.TextBoxFor(x => x.ParentID)</p>
    <input type="submit" value="Add node" />
}


